AI_MODEL_URL=https://proctor-server-e7gy.onrender.com
NEXT_PUBLIC_SERVER_URL= "https://proctor-server-e7gy.onrender.com"
NEXT_PUBLIC_BACKEND_URL="https://proctor-server-e7gy.onrender.com"
NEXT_PUBLIC_THIRD_URL="https://proctor-server-e7gy.onrender.com"
NEXT_PUBLIC_CLIENT_URL="https://proctor-server-e7gy.onrender.com"